.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background-color: var(--gray9);
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
}

.content {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}